$h-border-color: #e9eae2;

.hambourger {
  background: none;
  display: block;
  cursor: pointer;
  border: 3px solid $h-border-color;
  transition-property: border-color;
  transition-duration: 500ms;

  &:hover,
  &:active,
  &:focus {
    border-color: $hover-color-menu;

    .hambourger__element {
      background-color: $hover-color-menu;

      &::after,
      &::before {
        background-color: $hover-color-menu;
      }
    }
  }
}

.hambourger__element {
  width: 40px;
  height: 3px;
  background-color: $h-border-color;
  display: block;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 500ms;

  &::before,
  &::after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: $h-border-color;
    display: block;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 500ms;
  }

  &::after {
    transform: translateY(4px);
  }

  &::before {
    transform: translateY(-7px);
  }
}

.hambourger--active {
  position: relative;
  z-index: 1;
  border-color: $hover-color-menu;

  &:hover,
  &:active,
  &:focus {
    border-color: $black;

    .hambourger__element {
      background-color: $black;

      &::after,
      &::before {
        background-color: $black;
      }
    }
  }

  .hambourger__element {
    transform: rotate(45deg);

    &::after {
      transform: rotate(-90deg);
      position: relative;
      z-index: 1;
    }

    &::before {
      display: none;
    }
  }
}
